openapi: 3.0.0
info:
  title: Copilots APIs
  description: Copilots APIs
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.fuelix.ai
security:
  - BearerAuth: []
paths:
  /v1/threads/runs:
    post:
      summary: Create thread and run
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadRunRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadRunResponse'
      tags:
        - Threads
  /v1/assistants:
    get:
      operationId: CopilotsController_list
      summary: Returns a list of assistants.
      parameters:
        - name: after
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 100 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          schema:
            type: string
        - name: before
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with obj_foo, your
            subsequent call can include before=obj_foo in order to fetch the
            previous page of the list.
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 20.
          schema:
            type: number
        - name: order
          required: false
          in: query
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for
            ascending order and `desc` for descending order.
          schema:
            enum:
              - asc
              - desc
            type: string
      responses:
        '200':
          description: A list of copilot objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotListViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Copilots
    post:
      operationId: CopilotsController_create
      summary: Create an assistant with a model and instructions.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopilotCreateViewModel'
      responses:
        '201':
          description: An copilot object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Copilots
  /v1/assistants/{id}:
    get:
      operationId: CopilotsController_get
      summary: Retrieves an copilot.
      parameters:
        - name: id
          required: true
          in: path
          description: The ID of the copilot to retrieve.
          example: copilot-abc123
          schema:
            type: string
      responses:
        '200':
          description: The copilot object matching the specified ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Copilots
    post:
      operationId: CopilotsController_update
      summary: Modifies an assistant.
      parameters:
        - name: id
          required: true
          in: path
          description: The ID of the assistant to modify.
          example: copilot-abc123
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopilotUpdateViewModel'
      responses:
        '201':
          description: An copilot object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Copilots
    delete:
      operationId: CopilotsController_delete
      summary: Delete a copilot.
      parameters:
        - name: id
          required: true
          in: path
          description: The ID of the assistant to modify.
          example: copilot-abc123
          schema:
            type: string
      responses:
        '200':
          description: A list of copilot objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotDeleteViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Copilots
  /v1/files:
    post:
      operationId: FilesController_uploadFile
      summary: Upload file
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FilesCreateViewModel'
      responses:
        '201':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Files
    get:
      operationId: FilesController_listFiles
      summary: Returns a list of file objects
      parameters: []
      responses:
        '200':
          description: List of file objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesViewModelList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Files
  /v1/files/{id}:
    get:
      operationId: FilesController_retrieveFile
      summary: Returns a file object
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: file object of the specified file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Files
    delete:
      operationId: FilesController_deleteFile
      summary: Deletes a file
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: file deletion status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesDeleteModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Files
  /v1/vector_stores:
    post:
      operationId: VectorStoresController_create
      summary: Create vector store
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the vector store.
                file_ids:
                  type: array
                  items:
                    type: string
                  description: A list of File IDs that the vector store should use.
                  default: []
                expires_after:
                  type: object
                  description: Expiration policy for the vector store.
                chunking_strategy:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - static
                        - auto
                      description: Type of chunking strategy. Can be "static" or "auto".
                    static:
                      type: object
                      properties:
                        max_chunk_size_tokens:
                          type: number
                          description: >-
                            Maximum chunk size in tokens. Must be between 100
                            and 4096.
                        chunk_overlap_tokens:
                          type: number
                          description: >-
                            Number of overlapping tokens between chunks. Must be
                            non-negative and less than half of
                            max_chunk_size_tokens.
                      description: >-
                        Static chunking strategy settings. Only required if type
                        is "static".
                      nullable: true
                  description: Chunking strategy for files.
                metadata:
                  type: object
                  description: Set of metadata key-value pairs.
      responses:
        '201':
          description: Vector store created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
    get:
      operationId: VectorStoresController_getAll
      summary: Get vector store list
      parameters: []
      responses:
        '200':
          description: Data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreViewModelList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
  /v1/vector_stores/{id}:
    get:
      operationId: VectorStoresController_getOneBy
      summary: Get vector store by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
    post:
      operationId: VectorStoresController_update
      summary: Update vector store
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the vector store.
                expires_after:
                  type: object
                  description: Expiration policy for the vector store.
                metadata:
                  type: object
                  description: Set of metadata key-value pairs.
      responses:
        '201':
          description: Vector store updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
    delete:
      operationId: VectorStoresController_delete
      summary: Delete vector store
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Vector store deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreDeleteViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
  /v1/vector_stores/{id}/files:
    post:
      operationId: VectorStoresController_addFiles
      summary: Add a file to a vector store
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_id:
                  type: string
                  description: A list of File IDs that the vector store should use.
                chunking_strategy:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - static
                        - auto
                      description: Type of chunking strategy. Can be "static" or "auto".
                    static:
                      type: object
                      properties:
                        max_chunk_size_tokens:
                          type: number
                          description: >-
                            Maximum chunk size in tokens. Must be between 100
                            and 4096.
                        chunk_overlap_tokens:
                          type: number
                          description: >-
                            Number of overlapping tokens between chunks. Must be
                            non-negative and less than half of
                            max_chunk_size_tokens.
                      description: >-
                        Static chunking strategy settings. Only required if type
                        is "static".
                      nullable: true
                  description: Chunking strategy for files.
      responses:
        '201':
          description: ''
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
    get:
      operationId: VectorStoresController_getFiles
      summary: Returns a list of vector store files.
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: A list of vector store file objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFilesViewModelList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
  /v1/vector_stores/{id}/files/{file_id}:
    delete:
      operationId: VectorStoresController_deleteFile
      summary: Remove a file from vector store
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
        - name: file_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: File removed from vector store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFilesDeleteViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
    get:
      operationId: VectorStoresController_getFile
      summary: Retrieves a vector store file.
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
        - name: file_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: File retrieved from vector store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFilesViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Vector Stores
  /v1/threads:
    post:
      operationId: ThreadsController_create
      summary: Create a thread.
      parameters:
        - name: product-id
          in: header
          description: The product ID for the API call. Defaults to "core" if not provided.
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadCreateViewModel'
      responses:
        '201':
          description: A thread object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
    get:
      operationId: ThreadsController_list_threads
      summary: Retrieves a list of threads.
      parameters:
        - name: product-id
          in: header
          description: The product ID for the API call. Defaults to "core" if not provided.
          required: false
          schema:
            type: string
        - name: after
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 100 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          schema:
            type: string
        - name: before
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with obj_foo, your
            subsequent call can include before=obj_foo in order to fetch the
            previous page of the list.
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 20.
          schema:
            type: number
        - name: order
          required: false
          in: query
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for
            ascending order and `desc` for descending order.
          schema:
            enum:
              - asc
              - desc
            type: string
      responses:
        '200':
          description: A list of thread objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadListViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
  /v1/threads/{threadId}:
    post:
      operationId: ThreadsController_update
      summary: Modifies a thread.
      parameters:
        - name: product-id
          in: header
          description: The product ID for the API call. Defaults to "core" if not provided.
          required: false
          schema:
            type: string
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to modify.
          example: chat-abc123
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadUpdateViewModel'
      responses:
        '200':
          description: The modified thread object matching the specified ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
    get:
      operationId: ThreadsController_getThreadById
      summary: Retrieves a thread.
      parameters:
        - name: product-id
          in: header
          description: The product ID for the API call. Defaults to "core" if not provided.
          required: false
          schema:
            type: string
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to retrieve.
          example: chat-abc123
          schema:
            type: string
      responses:
        '200':
          description: The thread object matching the specified ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
    delete:
      operationId: ThreadsController_delete
      summary: Delete a thread.
      parameters:
        - name: product-id
          in: header
          description: The product ID for the API call. Defaults to "core" if not provided.
          required: false
          schema:
            type: string
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to delete.
          example: chat-abc123
          schema:
            type: string
      responses:
        '200':
          description: Deletion status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadDeleteViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
  /v1/threads/{threadId}/messages/{messageId}:
    get:
      operationId: MessagesController_get_thread_message
      summary: Retrieve a message.
      parameters:
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to retrieve.
          example: chat-abc123
          schema:
            type: string
        - name: messageId
          required: true
          in: path
          description: The ID of the message to retrieve.
          example: msg-abc123
          schema:
            type: string
      responses:
        '200':
          description: The message object matching the specified ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
    post:
      operationId: MessagesController_createThreadMessage
      summary: Create a message.
      parameters:
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to create a message for.
          example: chat-abc123
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadCreateMessage'
      responses:
        '201':
          description: The created message object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '423':
          description: Thread is locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
  /v1/threads/{threadId}/messages:
    get:
      operationId: MessagesController_list_thread_messages
      summary: Returns a list of messages for a given thread.
      parameters:
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to retrieve.
          example: chat-abc123
          schema:
            type: string
        - name: after
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 100 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          schema:
            type: string
        - name: before
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with obj_foo, your
            subsequent call can include before=obj_foo in order to fetch the
            previous page of the list.
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 20.
          schema:
            type: number
        - name: order
          required: false
          in: query
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for
            ascending order and `desc` for descending order.
          schema:
            enum:
              - asc
              - desc
            type: string
        - name: run_id
          required: false
          in: query
          description: Filter messages by the run ID that generated them.
          schema:
            type: string
      responses:
        '200':
          description: A list of message objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageListViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
  /v1/threads/{threadId}/runs/{runId}:
    get:
      operationId: ThreadsController_get_runs
      summary: Retrieves a run.
      parameters:
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to retrieve.
          example: chat-abc123
          schema:
            type: string
        - name: runId
          required: true
          in: path
          description: The ID of the run to retrieve.
          example: run-abc123
          schema:
            type: string
      responses:
        '200':
          description: The run object matching the specified ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
  /v1/threads/{threadId}/runs:
    get:
      operationId: ThreadsController_list_runs
      summary: Returns a list of runs belonging to a thread.
      parameters:
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to retrieve.
          example: chat-abc123
          schema:
            type: string
        - name: after
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 100 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          schema:
            type: string
        - name: before
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with obj_foo, your
            subsequent call can include before=obj_foo in order to fetch the
            previous page of the list.
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 20.
          schema:
            type: number
        - name: order
          required: false
          in: query
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for
            ascending order and `desc` for descending order.
          schema:
            enum:
              - asc
              - desc
            type: string
      responses:
        '200':
          description: A list of run objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunListViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
  /v1/threads/{threadId}/runs/{runId}/cancel:
    post:
      operationId: ThreadsController_cancel_run
      summary: Cancels a run that is in_progress.
      parameters:
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to retrieve.
          example: chat-abc123
          schema:
            type: string
        - name: runId
          required: true
          in: path
          description: The ID of the run to cancel.
          example: run-abc123
          schema:
            type: string
      responses:
        '200':
          description: Cancel run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
  /v1/threads/{threadId}/runs/{runId}/steps/{stepId}:
    get:
      operationId: ThreadsController_get_run_step
      summary: Retrieves a run step.
      parameters:
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to retrieve.
          example: chat-abc123
          schema:
            type: string
        - name: runId
          required: true
          in: path
          description: The ID of the run to cancel.
          example: run-abc123
          schema:
            type: string
        - name: stepId
          required: true
          in: path
          description: The ID of the run step to retrieve.
          example: runstep-abc123
          schema:
            type: string
      responses:
        '200':
          description: The run step object matching the specified ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStepViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
  /v1/threads/{threadId}/runs/{runId}/steps:
    get:
      operationId: ThreadsController_list_run_steps
      summary: Returns a list of run steps belonging to a run.
      parameters:
        - name: threadId
          required: true
          in: path
          description: The ID of the thread to retrieve.
          example: chat-abc123
          schema:
            type: string
        - name: runId
          required: true
          in: path
          description: The ID of the run to cancel.
          example: run-abc123
          schema:
            type: string
        - name: after
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 100 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          schema:
            type: string
        - name: before
          required: false
          in: query
          description: >-
            A cursor for use in pagination. `before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with obj_foo, your
            subsequent call can include before=obj_foo in order to fetch the
            previous page of the list.
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 20.
          schema:
            type: number
        - name: order
          required: false
          in: query
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for
            ascending order and `desc` for descending order.
          schema:
            enum:
              - asc
              - desc
            type: string
      responses:
        '200':
          description: A list of run step objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStepListViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      tags:
        - Threads
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: array
          items:
            type: string
        status:
          type: number
        instance:
          type: string
      required:
        - type
        - title
        - detail
        - status
        - instance
    ChatMessage:
      type: object
      properties:
        role:
          type: string
        content:
          type: string
      required:
        - role
        - content
    ThreadRunRequest:
      type: object
      properties:
        assistant_id:
          type: string
        thread:
          type: object
          properties:
            messages:
              type: array
              items:
                $ref: '#/components/schemas/ChatMessage'
        stream:
          type: boolean
      required:
        - assistant_id
        - thread
    ThreadRunResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created_at:
          type: integer
        assistant_id:
          type: string
        thread_id:
          type: string
        status:
          type: string
        started_at:
          type: integer
          nullable: true
        expires_at:
          type: integer
          nullable: true
        cancelled_at:
          type: integer
          nullable: true
        failed_at:
          type: integer
          nullable: true
        completed_at:
          type: integer
          nullable: true
        model:
          type: string
        tools:
          type: array
          items:
            type: object
    CopilotViewModel:
      type: object
      properties:
        created_at:
          type: number
          description: The Unix timestamp (in seconds) for when the assistant was created.
          example: 1677610602
        description:
          type: object
          description: >-
            The description of the assistant. The maximum length is 512
            characters.
          example: A helpful assistant for answering questions
          nullable: true
        id:
          type: string
          description: The identifier, which can be referenced in API endpoints.
          example: copilot-abc123
        instructions:
          type: object
          description: >-
            The system instructions that the assistant uses. The maximum length
            is 256,000 characters.
          example: >-
            You are a helpful assistant that provides accurate and concise
            answers.
          nullable: true
        metadata:
          type: object
          description: >-
            Set of 16 key-value pairs that can be attached to an object. Keys
            are strings with a maximum length of 64 characters. Values are
            strings with a maximum length of 512 characters.
          example:
            category: general
            version: '1.0'
          additionalProperties:
            type: string
        model:
          type: string
          description: ID of the model to use.
          example: gpt-4-turbo-preview
        name:
          type: object
          description: The name of the assistant. The maximum length is 256 characters.
          example: Helpful Assistant
          nullable: true
        object:
          type: string
          description: The object type, which is always assistant.
          example: assistant
        response_format:
          description: Specifies the format that the model must output.
          example:
            type: json_schema
            json_schema: {}
          oneOf:
            - type: string
              enum:
                - auto
            - type: object
        temperature:
          type: object
          description: >-
            What sampling temperature to use, between 0 and 2. Higher values
            like 0.8 will make the output more random, while lower values like
            0.2 will make it more focused and deterministic.
          example: 0.7
          nullable: true
        tool_resources:
          type: object
          description: A set of resources that are used by the assistant's tools.
          example:
            code_interpreter:
              file_ids: []
            file_search:
              vector_store_ids: []
          nullable: true
        tools:
          type: array
          description: >-
            A list of tool enabled on the assistant. There can be a maximum of
            128 tools per assistant.
          example:
            - type: code_interpreter
            - type: file_search
          items:
            type: object
            properties:
              type:
                type: string
        top_p:
          type: object
          description: >-
            An alternative to sampling with temperature, called nucleus
            sampling, where the model considers the results of the tokens with
            top_p probability mass.
          example: 0.9
          nullable: true
      required:
        - created_at
        - description
        - id
        - instructions
        - metadata
        - model
        - name
        - object
        - response_format
        - temperature
        - tool_resources
        - tools
        - top_p
    CopilotListViewModel:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/CopilotViewModel'
        first_id:
          type: string
          example: copilot-abc123
        last_id:
          type: string
          example: copilot-abc456
        has_more:
          type: boolean
          example: false
      required:
        - object
        - data
        - first_id
        - last_id
        - has_more
    CopilotCreateFileSearchViewModel:
      type: object
      properties:
        file_search:
          type: object
          description: The vector store IDs
          properties:
            vector_store_ids:
              type: array
              items:
                type: string
      required:
        - file_search
    CopilotCreateMembersViewModel:
      type: object
      properties:
        admin:
          type: array
          description: The admin members of the copilot
          items:
            type: string
        viewer:
          type: array
          description: The viewer members of the copilot
          items:
            type: string
    CopilotCreateToolsViewModel:
      type: object
      properties:
        type:
          type: string
          description: The type of tool
          example: image_generation
          enum:
            - image_generation
            - search_internet
            - generate_ui
            - javascript
            - reasoning
            - datetime
            - file_upload
            - vision
      required:
        - type
    CopilotCreateViewModelMetadata:
      type: object
      properties:
        conversation_starter_prompts:
          type: array
          description: >-
            List of conversation starter prompts. There can be a maximum of 4
            conversation starter prompts with a maximum length of 500 characters
            each.
          example:
            - How can I help you today?
            - What would you like to know?
          items:
            type: string
        image:
          type: string
          description: The url of the image of the copilot
          example: https://fuel-ix-app.appspot.com/v0/b/fuel-ix-app.appspot.com/o/super
        sharing:
          type: object
          description: The access type of the copilot
          properties:
            access:
              type: string
          example:
            access: private
        category:
          type: string
          description: >-
            The category of the copilot. The category is required when sharing
            access is public.
          example: writing
          enum:
            - writing
            - coding
            - productivity
            - hrBenefits
            - other
        subtitle:
          type: object
          description: The subtitle of the copilot
          example:
            en: This is an example
            fr: Ceci est un exemple
            de: Dies ist ein Beispiel
        tagline:
          type: object
          description: The tagline of the copilot
          example:
            en: This is an example
            fr: Ceci est un exemple
            de: Dies ist ein Beispiel
        external_url:
          type: string
          description: The external url of the copilot
          example: https://fuel-ix-app.appspot.com/v0/b/fuel-ix-app.appspot.com/o/super
        custom_namespace:
          type: string
          description: >-
            This custom namespace will replace the Copilot's current knowledge
            base. All files uploaded to the Copilot's knowledge base through
            this interface will be lost if a custom namespace is set.
        members:
          type: object
          description: The members of the copilot
          properties:
            members:
              $ref: '#/components/schemas/CopilotCreateMembersViewModel'
          example:
            admin:
              - user-abc123
              - user-def456
            viewer:
              - user-ghi789
              - team-jkl012
        preset:
          type: string
          description: The preset of the copilot
          example: anthropic
          enum:
            - anthropic
            - openai
            - google
            - meta
            - googleCanada
        max_tokens:
          type: number
          description: The maximum number of tokens to generate.
        frequency_penalty:
          type: number
          description: The frequency penalty of the copilot.
        presence_penalty:
          type: number
          description: The presence penalty of the copilot.
      required:
        - sharing
    CopilotCreateViewModel:
      type: object
      properties:
        model:
          type: string
          description: The identifier, which can be referenced in API endpoints.
          example: gpt-4o
          nullable: false
        description:
          type: string
          description: >-
            The description of the assistant. The maximum length is 600
            characters.
          example: A helpful assistant for answering questions
          maxLength: 600
        instructions:
          type: string
          description: >-
            The system instructions that the assistant uses. The maximum length
            is 256,000 characters.
          example: >-
            You are a personal math tutor. When asked a question, write and run
            Python code to answer the question.
          maxLength: 256000
        name:
          type: string
          description: The name of the assistant. The maximum length is 40 characters.
          example: Math Tutor
          maxLength: 40
        temperature:
          type: number
          description: >-
            What sampling temperature to use, between 0 and 2. Higher values
            like 0.8 will make the output more random, while lower values like
            0.2 will make it more focused and deterministic.
          example: 0.7
          nullable: true
          minimum: 0
          maximum: 2
        tool_resources:
          type: object
          description: >-
            A set of resources that are used by the assistant's tools. The
            resources are specific to the type of tool. For example, the
            file_search tool requires a list of vector store IDs. If
            customNamespace is provided, vector_store_ids will be ignored.
          example:
            file_search:
              vector_store_ids:
                - kb-abc123
          nullable: true
          properties:
            tool_resources:
              $ref: '#/components/schemas/CopilotCreateFileSearchViewModel'
        tools:
          type: array
          description: >-
            A list of tool enabled on the assistant. There can be a maximum of
            128 tools per assistant.
          example:
            - type: image_generation
            - type: search_internet
          items:
            $ref: '#/components/schemas/CopilotCreateToolsViewModel'
        top_p:
          type: object
          description: >-
            An alternative to sampling with temperature, called nucleus
            sampling, where the model considers the results of the tokens with
            top_p probability mass. So 0.1 means only the tokens comprising the
            top 10% probability mass are considered. We generally recommend
            altering this or temperature but not both.
          example: 0.9
          nullable: true
          minimum: 0
          maximum: 1
        metadata:
          description: The metadata of the copilot.
          allOf:
            - $ref: '#/components/schemas/CopilotCreateViewModelMetadata'
      required:
        - model
        - description
        - instructions
        - name
    CopilotUpdateViewModel:
      type: object
      properties:
        model:
          type: string
          description: The identifier, which can be referenced in API endpoints.
          example: gpt-4o
          nullable: false
        description:
          type: string
          description: >-
            The description of the assistant. The maximum length is 600
            characters.
          example: A helpful assistant for answering questions
          maxLength: 600
        instructions:
          type: string
          description: >-
            The system instructions that the assistant uses. The maximum length
            is 256,000 characters.
          example: >-
            You are a personal math tutor. When asked a question, write and run
            Python code to answer the question.
          maxLength: 256000
        name:
          type: string
          description: The name of the assistant. The maximum length is 40 characters.
          example: Math Tutor
          maxLength: 40
        temperature:
          type: number
          description: >-
            What sampling temperature to use, between 0 and 2. Higher values
            like 0.8 will make the output more random, while lower values like
            0.2 will make it more focused and deterministic.
          example: 0.7
          nullable: true
          minimum: 0
          maximum: 2
        tool_resources:
          type: object
          description: >-
            A set of resources that are used by the assistant's tools. The
            resources are specific to the type of tool. For example, the
            file_search tool requires a list of vector store IDs. If
            customNamespace is provided, vector_store_ids will be ignored.
          example:
            file_search:
              vector_store_ids:
                - kb-abc123
          nullable: true
          properties:
            tool_resources:
              $ref: '#/components/schemas/CopilotCreateFileSearchViewModel'
        tools:
          type: array
          description: >-
            A list of tool enabled on the assistant. There can be a maximum of
            128 tools per assistant.
          example:
            - type: image_generation
            - type: search_internet
          items:
            $ref: '#/components/schemas/CopilotCreateToolsViewModel'
        top_p:
          type: object
          description: >-
            An alternative to sampling with temperature, called nucleus
            sampling, where the model considers the results of the tokens with
            top_p probability mass. So 0.1 means only the tokens comprising the
            top 10% probability mass are considered. We generally recommend
            altering this or temperature but not both.
          example: 0.9
          nullable: true
          minimum: 0
          maximum: 1
        metadata:
          description: The metadata of the copilot.
          allOf:
            - $ref: '#/components/schemas/CopilotCreateViewModelMetadata'
    CopilotDeleteViewModel:
      type: object
      properties:
        id:
          type: string
          description: >-
            The copilot identifier, which can be referenced in the API
            endpoints.
          example: copilot-abc123
        object:
          type: string
          description: The object type, which is always assistant.deleted.
          example: assistant.deleted
        deleted:
          type: boolean
          description: Deletion Status
          example: true
      required:
        - id
        - object
        - deleted
    FilesCreateViewModel:
      type: object
      properties:
        purpose:
          type: string
          enum:
            - vision
            - assistants
        alias_id:
          type: string
        file:
          type: string
          format: binary
      required:
        - purpose
        - file
    FilesViewModel:
      type: object
      properties:
        id:
          type: string
          description: The file identifier, which can be referenced in the API endpoints.
          example: file-abc123
        alias_id:
          type: string
          description: Non-unique alias file identifier
          example: alias-abc123
        object:
          type: string
          description: The object type, which is always file.
          example: file
        bytes:
          type: number
          description: The size of the file, in bytes.
          example: 120000
        created_at:
          type: number
          description: The Unix timestamp (in seconds) for when the file was created.
          example: 1677610602
        filename:
          type: string
          description: The name of the file.
          example: file.pdf
        purpose:
          type: string
          description: The intended purpose of the file.
          example: assistants
          enum:
            - vision
            - assistants
      required:
        - id
        - object
        - bytes
        - created_at
        - filename
        - purpose
    FilesViewModelList:
      type: object
      properties:
        object:
          type: string
          description: The object type, which is always list.
          example: list
        data:
          description: The list of files.
          type: array
          items:
            $ref: '#/components/schemas/FilesViewModel'
      required:
        - object
        - data
    FilesDeleteModel:
      type: object
      properties:
        id:
          type: string
          description: The file identifier, which can be referenced in the API endpoints.
          example: file-abc123
        object:
          type: string
          description: The object type, which is always file.
          example: file
        deleted:
          type: boolean
          description: Deletion Status
          example: true
      required:
        - id
        - object
        - deleted
    VectorStoreViewModel:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: number
        name:
          type: string
        file_counts:
          type: object
          properties:
            in_progress:
              type: number
            completed:
              type: number
            failed:
              type: number
            cancelled:
              type: number
            total:
              type: number
      required:
        - id
        - created_at
        - name
        - file_counts
    VectorStoreViewModelList:
      type: object
      properties:
        object:
          type: string
          description: The object type, which is always list.
          example: list
        data:
          description: The list of vector stores.
          type: array
          items:
            $ref: '#/components/schemas/VectorStoreViewModel'
        first_id:
          type: string
          description: The first vector store id.
        last_id:
          type: string
          description: The last vector store id.
        has_more:
          type: boolean
          description: Whether there are more vector stores to fetch.
          example: false
      required:
        - object
        - data
        - first_id
        - last_id
        - has_more
    VectorStoreDeleteViewModel:
      type: object
      properties:
        id:
          type: string
          description: >-
            The vector store identifier, which can be referenced in the API
            endpoints.
          example: kb-abc123
        object:
          type: string
          description: The object type, which is always vector-store.
          example: vector-store
        deleted:
          type: boolean
          description: Deletion Status
          example: true
      required:
        - id
        - object
        - deleted
    VectorStoreFilesDeleteViewModel:
      type: object
      properties:
        id:
          type: string
          description: >-
            The vector store file identifier, which can be referenced in the API
            endpoints.
          example: file-abc123
        object:
          type: string
          description: The object type, which is always vector-store.file
          example: vector-store.file
        deleted:
          type: boolean
          description: Deletion Status
          example: true
      required:
        - id
        - object
        - deleted
    VectorStoreFilesViewModel:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        usage_bytes:
          type: number
        created_at:
          type: number
        vector_store_id:
          type: string
        status:
          type: string
          enum:
            - in_progress
            - completed
            - failed
        last_error:
          type: object
        chunking_strategy:
          type: object
      required:
        - id
        - object
        - usage_bytes
        - created_at
        - vector_store_id
        - status
        - last_error
        - chunking_strategy
    VectorStoreFilesViewModelList:
      type: object
      properties:
        object:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/VectorStoreFilesViewModel'
        first_id:
          type: string
          description: The first vector store id.
        last_id:
          type: string
          description: The last vector store id.
        has_more:
          type: boolean
          description: Whether there are more vector stores to fetch.
          example: false
      required:
        - object
        - data
        - first_id
        - last_id
        - has_more
    ThreadViewModel:
      type: object
      properties:
        created_at:
          type: number
          description: The Unix timestamp (in seconds) for when the thread was created.
        id:
          type: string
          description: The identifier, which can be referenced in API endpoints.
        metadata:
          type: object
          description: >-
            Set of 16 key-value pairs that can be attached to an object. This
            can be useful for storing additional information about the object in
            a structured format, and querying for objects via API or the
            dashboard. Keys are strings with a maximum length of 64 characters.
            Values are strings with a maximum length of 512 characters.
          nullable: true
          additionalProperties:
            type: string
        object:
          type: string
          description: The object type, which is always `thread`.
          enum:
            - thread
        tool_resources:
          type: object
          description: >-
            A set of resources that are made available to the assistant's tools
            in this thread. The resources are specific to the type of tool.
          nullable: true
          properties:
            file_search:
              type: object
              properties:
                vector_store_ids:
                  type: array
                  description: >-
                    The vector store attached to this thread. There can be a
                    maximum of 1 vector store attached to the thread.
                  items:
                    type: string
                  maxItems: 1
      required:
        - created_at
        - id
        - metadata
        - object
        - tool_resources
    ThreadCreateViewModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: object
            properties:
              content:
                oneOf:
                  - type: string
                    description: The text contents of the message.
                  - type: array
                    items:
                      oneOf:
                        - type: object
                          description: >-
                            References an image File in the content of a
                            message.
                          properties:
                            image_file:
                              type: object
                              properties:
                                file_id:
                                  type: string
                                  description: >-
                                    The File ID of the image in the message
                                    content. Set purpose="vision" when uploading
                                    the File if you need to later display the
                                    file content.
                                detail:
                                  type: string
                                  description: >-
                                    Specifies the detail level of the image if
                                    specified by the user. low uses fewer
                                    tokens, you can opt in to high resolution
                                    using high.
                              required:
                                - file_id
                            type:
                              type: string
                              enum:
                                - image_file
                          required:
                            - image_file
                            - type
                        - type: object
                          description: References an image URL in the content of a message.
                          properties:
                            image_url:
                              type: object
                              properties:
                                url:
                                  type: string
                                  description: >-
                                    The external URL of the image, must be a
                                    supported image types: jpeg, jpg, png, gif,
                                    webp.
                                detail:
                                  type: string
                                  description: >-
                                    Specifies the detail level of the image if
                                    specified by the user. low uses fewer
                                    tokens, you can opt in to high resolution
                                    using high.
                              required:
                                - file_id
                            type:
                              type: string
                              enum:
                                - image_url
                          required:
                            - image_url
                            - type
                        - type: object
                          description: The text content that is part of a message.
                          properties:
                            text:
                              type: string
                              description: Text content to be sent to the model
                            type:
                              type: string
                              enum:
                                - text
                          required:
                            - text
                            - type
                    description: >-
                      A list of files attached to the message, and the tools
                      they should be added to.
              role:
                type: string
                description: >-
                  The role of the entity that is creating the message. Allowed
                  values include: user: Indicates the message is sent by an
                  actual user and should be used in most cases to represent
                  user-generated messages. assistant: Indicates the message is
                  generated by the assistant. Use this value to insert messages
                  from the assistant into the conversation.
                enum:
                  - user
                  - assistant
              attachments:
                type: array
                description: >-
                  A list of files attached to the message, and the tools they
                  should be added to.
                items:
                  type: object
                  properties:
                    file_id:
                      type: string
                      description: The ID of the file to attach to the message.
                    tools:
                      type: array
                      description: The tools to add this file to.
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - code_interpreter
                              - file_search
              metadata:
                type: object
                description: >-
                  Set of 16 key-value pairs that can be attached to an object.
                  This can be useful for storing additional information about
                  the object in a structured format, and querying for objects
                  via API or the dashboard. Keys are strings with a maximum
                  length of 64 characters. Values are strings with a maximum
                  length of 512 characters.
                properties:
                  key:
                    type: string
                  value:
                    type: string
          description: Array of messages in the thread
          example:
            - content:
                - type: image_url
                  image_url:
                    url: https://example.com/image.jpg
                - type: text
                  text: What do you see in this image?
              role: user
        metadata:
          type: object
          description: >-
            Set of 16 key-value pairs that can be attached to an object. This
            can be useful for storing additional information about the object in
            a structured format, and querying for objects via API or the
            dashboard. Keys are strings with a maximum length of 64 characters.
            Values are strings with a maximum length of 512 characters.
          example:
            title: My thread
        tool_resources:
          type: object
          description: >-
            A set of resources that are made available to the assistant's tools
            in this thread. The resources are specific to the type of tool. For
            example, the code_interpreter tool requires a list of file IDs,
            while the file_search tool requires a list of vector store IDs.
          properties:
            file_search:
              type: object
              properties:
                vector_store_ids:
                  type: array
                  description: >-
                    A list of vector store IDs made available to the file_search
                    tool. There can be a maximum of 1 vector stores associated
                    with the tool.
                  items:
                    type: string
            code_interpreter:
              type: object
              properties:
                file_ids:
                  type: array
                  description: >-
                    A list of file IDs made available to the code_interpreter
                    tool. There can be a maximum of 20 files associated with the
                    tool.
                  items:
                    type: string
          example:
            file_search:
              vector_store_ids:
                - kb-abc123
      required:
        - messages
        - metadata
    ThreadListViewModel:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/ThreadViewModel'
        first_id:
          type: string
          example: runstep-abc123
        last_id:
          type: string
          example: runstep-abc456
        has_more:
          type: boolean
          example: false
      required:
        - object
        - data
        - first_id
        - last_id
        - has_more
    ThreadUpdateViewModel:
      type: object
      properties:
        metadata:
          type: object
          description: >-
            Set of 16 key-value pairs that can be attached to an object. This
            can be useful for storing additional information about the object in
            a structured format, and querying for objects via API or the
            dashboard. Keys are strings with a maximum length of 64 characters.
            Values are strings with a maximum length of 512 characters.
          example:
            title: My thread
        tool_resources:
          type: object
          description: >-
            A set of resources that are made available to the assistant's tools
            in this thread. The resources are specific to the type of tool. For
            example, the code_interpreter tool requires a list of file IDs,
            while the file_search tool requires a list of vector store IDs.
          properties:
            file_search:
              type: object
              properties:
                vector_store_ids:
                  type: array
                  description: >-
                    A list of vector store IDs made available to the file_search
                    tool. There can be a maximum of 1 vector stores associated
                    with the tool.
                  items:
                    type: string
            code_interpreter:
              type: object
              properties:
                file_ids:
                  type: array
                  description: >-
                    A list of file IDs made available to the code_interpreter
                    tool. There can be a maximum of 20 files associated with the
                    tool.
                  items:
                    type: string
          example:
            file_search:
              vector_store_ids:
                - kb-abc123
      required:
        - metadata
    ThreadDeleteViewModel:
      type: object
      properties:
        id:
          type: string
          description: The thread identifier, which can be referenced in the API endpoints.
          example: chat-abc123
        object:
          type: string
          description: The object type, which is always thread.deleted.
          example: thread.deleted
        deleted:
          type: boolean
          description: Deletion Status
          example: true
      required:
        - id
        - object
        - deleted
    MessageViewModel:
      type: object
      properties:
        assistant_id:
          type: string
          description: If applicable, the ID of the assistant that authored this message.
          nullable: true
        attachments:
          type: array
          items:
            type: string
          description: >-
            A list of files attached to the message, and the tools they were
            added to.
          nullable: true
        completed_at:
          type: number
          description: The Unix timestamp (in seconds) for when the message was completed.
          nullable: true
        content:
          type: array
          description: The content of the message in array of text and/or images.
          items:
            oneOf:
              - type: object
                properties:
                  type:
                    type: string
                    description: Always `image_file`.
                    enum:
                      - image_file
                    example: image_file
                  image_file:
                    type: object
                    description: The image file properties
                    example:
                      file_id: file-abc123
                      detail: auto
                    properties:
                      file_id:
                        type: string
                        description: >-
                          The File ID of the image in the message content. Set
                          `purpose="vision"` when uploading the File if you need
                          to later display the file content.
                        example: file-abc123
                      detail:
                        type: string
                        description: >-
                          Specifies the detail level of the image if specified
                          by the user. `low` uses fewer tokens, you can opt in
                          to high resolution using `high`.
                        enum:
                          - auto
                          - low
                          - high
                        default: auto
                        example: auto
              - type: object
                properties:
                  type:
                    type: string
                    description: Always `image_url`.
                    enum:
                      - image_url
                    example: image_url
                  image_url:
                    type: object
                    description: The image URL properties
                    example:
                      url: https://example.com/image.jpg
                      detail: auto
                    properties:
                      url:
                        type: string
                        description: >-
                          The external URL of the image, must be a supported
                          image types: jpeg, jpg, png, gif, webp.
                        format: uri
                      detail:
                        type: string
                        description: >-
                          Specifies the detail level of the image. `low` uses
                          fewer tokens, you can opt in to high resolution using
                          `high`. Default value is `auto`
                        enum:
                          - auto
                          - low
                          - high
                        default: auto
              - type: object
                properties:
                  type:
                    type: string
                    description: Always `refusal`.
                    enum:
                      - refusal
                    example: refusal
                  refusal:
                    type: string
                    description: The refusal content generated by the assistant
                    example: I cannot help with that request.
              - type: object
                properties:
                  type:
                    type: string
                    description: Always `text`.
                    enum:
                      - text
                    example: text
                  text:
                    type: object
                    description: The text content properties
                    properties:
                      value:
                        type: string
                        description: The data that makes up the text.
                      annotations:
                        type: array
                        description: Annotations for the text content
                        items:
                          oneOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  description: Always `file_citation`.
                                  enum:
                                    - file_citation
                                  example: file_citation
                                text:
                                  type: string
                                  description: >-
                                    The text in the message content that needs
                                    to be replaced.
                                  example: Here is the generated file...
                                file_citation:
                                  type: object
                                  description: The file path object
                                  properties:
                                    file_id:
                                      type: string
                                      description: The ID of the file that was generated.
                                  required:
                                    - file_id
                                start_index:
                                  type: number
                                  description: Starting index of the file path
                                  minimum: 0
                                end_index:
                                  type: number
                                  description: Ending index of the file path
                                  minimum: 0
                            - type: object
                              properties:
                                type:
                                  type: string
                                  description: Always `file_path`.
                                  enum:
                                    - file_path
                                  example: file_path
                                text:
                                  type: string
                                  description: >-
                                    The text in the message content that needs
                                    to be replaced.
                                  example: According to the document...
                                file_citation:
                                  type: object
                                  description: The file citation object
                                  properties:
                                    file_id:
                                      type: string
                                      description: >-
                                        The ID of the specific File the citation
                                        is from.
                                start_index:
                                  type: number
                                  description: Starting index of the citation
                                  minimum: 0
                                end_index:
                                  type: number
                                  description: Ending index of the citation
                                  minimum: 0
                    required:
                      - value
                      - annotations
        created_at:
          type: number
          description: The Unix timestamp (in seconds) for when the message was created.
        id:
          type: string
          description: The identifier, which can be referenced in API endpoints.
        incomplete_at:
          type: number
          description: >-
            The Unix timestamp (in seconds) for when the message was marked as
            incomplete.
          nullable: true
        incomplete_details:
          type: object
          description: >-
            On an incomplete message, details about why the message is
            incomplete.
          nullable: true
          example:
            reason: The message is incomplete
          properties:
            reason:
              type: string
              description: The reason the message is incomplete
              example: The message is incomplete
        metadata:
          type: object
          description: >-
            Set of 16 key-value pairs that can be attached to an object. This
            can be useful for storing additional information about the object in
            a structured format, and querying for objects via API or the
            dashboard. Keys are strings with a maximum length of 64 characters.
            Values are strings with a maximum length of 512 characters.
          additionalProperties:
            type: string
        object:
          type: string
          description: The object type, which is always `thread.message`.
          enum:
            - thread.message
        role:
          type: string
          description: The entity that produced the message. One of `user` or `assistant`.
          enum:
            - user
            - assistant
        run_id:
          type: string
          description: >-
            The ID of the run associated with the creation of this message.
            Value is `null` when messages are created manually using the create
            message or create thread endpoints.
          nullable: true
        status:
          type: string
          description: >-
            The status of the message, which can be either `in_progress`,
            `incomplete`, or `completed`.
          enum:
            - in_progress
            - incomplete
            - completed
        thread_id:
          type: string
          description: The thread ID that this message belongs to.
      required:
        - assistant_id
        - attachments
        - completed_at
        - content
        - created_at
        - id
        - incomplete_at
        - incomplete_details
        - metadata
        - object
        - role
        - run_id
        - status
        - thread_id
    MessageListViewModel:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageViewModel'
        first_id:
          type: string
          example: msg-abc123
        last_id:
          type: string
          example: msg-abc123
        has_more:
          type: boolean
          example: false
      required:
        - object
        - data
        - first_id
        - last_id
        - has_more
    ThreadCreateMessage:
      type: object
      required:
        - content
        - role
      properties:
        content:
          oneOf:
            - type: string
              description: The text contents of the message.
            - type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/TextContentBlockParam'
                  - $ref: '#/components/schemas/ImageFileContentBlock'
                  - $ref: '#/components/schemas/ImageURLContentBlock'
              description: >-
                An array of content parts with a defined type, each can be of
                type text or images can be passed with image_url or image_file.
                Image types are only supported on Vision-compatible models.
          description: |-
            string or array

            Required
        role:
          type: string
          enum:
            - user
            - assistant
          description: >-
            The role of the entity that is creating the message. Allowed values
            include:


            user: Indicates the message is sent by an actual user and should be
            used in most cases to represent user-generated messages.

            assistant: Indicates the message is generated by the assistant. Use
            this value to insert messages from the assistant into the
            conversation.
        attachments:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ThreadMessageAttachment'
          description: |-
            array or null

            Optional
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >-
            Set of 16 key-value pairs that can be attached to an object. This
            can be useful for storing additional information about the object in
            a structured format, and querying for objects via API or the
            dashboard.


            Keys are strings with a maximum length of 64 characters. Values are
            strings with a maximum length of 512 characters.
    TextContentBlockParam:
      type: object
      properties:
        text:
          type: string
        type:
          type: string
          enum:
            - text
    ImageFileContentBlock:
      type: object
      properties:
        image_file:
          type: object
          properties:
            file_id:
              type: string
            detail:
              type: string
              enum:
                - auto
                - low
                - high
        type:
          type: string
          enum:
            - image_file
    ImageURLContentBlock:
      type: object
      properties:
        image_url:
          type: object
          properties:
            url:
              type: string
            detail:
              type: string
              enum:
                - auto
                - low
                - high
        type:
          type: string
          enum:
            - image_url
    ThreadMessageAttachment:
      type: object
      properties:
        file_id:
          type: string
          description: The ID of the file to attach to the message.
        tools:
          type: array
          description: The tools to add this file to.
          items:
            $ref: '#/components/schemas/ToolType'
    ToolType:
      type: object
      properties:
        type:
          type: string
          enum:
            - file_search
            - code_interpreter
    RunViewModel:
      type: object
      properties:
        assistant_id:
          type: string
          description: The ID of the assistant used for execution of this run.
        cancelled_at:
          type: number
          description: The Unix timestamp (in seconds) for when the run was cancelled.
          nullable: true
        completed_at:
          type: number
          description: The Unix timestamp (in seconds) for when the run was completed.
          nullable: true
        created_at:
          type: number
          description: The Unix timestamp (in seconds) for when the run was created.
        expires_at:
          type: number
          description: The Unix timestamp (in seconds) for when the run will expire.
          nullable: true
        failed_at:
          type: number
          description: The Unix timestamp (in seconds) for when the run failed.
          nullable: true
        id:
          type: string
          description: The identifier, which can be referenced in API endpoints.
        incomplete_details:
          type: object
          description: Details on why the run is incomplete.
          nullable: true
          properties:
            reason:
              type: string
        instructions:
          type: string
          description: The instructions that the assistant used for this run.
        last_error:
          type: object
          description: >-
            The last error associated with this run. Will be null if there are
            no errors.
          nullable: true
          properties:
            code:
              type: string
              description: One of server_error, rate_limit_exceeded, or invalid_prompt.
              enum:
                - server_error
                - rate_limit_exceeded
                - invalid_prompt
            message:
              type: string
              description: A human-readable description of the error.
        max_completion_tokens:
          type: number
          description: >-
            The maximum number of completion tokens specified to have been used
            over the course of the run.
          nullable: true
        max_prompt_tokens:
          type: number
          description: >-
            The maximum number of prompt tokens specified to have been used over
            the course of the run.
          nullable: true
        metadata:
          type: object
          description: >-
            Set of 16 key-value pairs that can be attached to an object. This
            can be useful for storing additional information about the object in
            a structured format, and querying for objects via API or the
            dashboard. Keys are strings with a maximum length of 64 characters.
            Values are strings with a maximum length of 512 characters.
        model:
          type: string
          description: The model that the assistant used for this run.
        object:
          type: string
          description: The object type, which is always `thread.run`.
          enum:
            - thread.run
        parallel_tool_calls:
          type: boolean
          description: Whether parallel tool calls are enabled.
        response_format:
          type: string
          description: The response format configuration.
        started_at:
          type: number
          description: The Unix timestamp (in seconds) for when the run was started.
          nullable: true
        status:
          type: string
          description: >-
            The status of the run, which can be either queued, in_progress,
            requires_action, cancelling, cancelled, failed, completed,
            incomplete, or expired.
        temperature:
          type: number
          description: The sampling temperature used for this run.
          nullable: true
        thread_id:
          type: string
          description: The ID of the thread that was executed on as a part of this run.
        tool_choice:
          description: Controls which (if any) tool is called by the model.
          oneOf:
            - type: string
              enum:
                - none
                - auto
                - required
              description: >-
                'none' means the model will not call any tools and instead
                generates a message.

                'auto' means the model can pick between generating a message or
                calling one or more tools.

                'required' means the model must call one or more tools before
[...]
